/Postman.app/Contents/Frameworks/Electron Framework.framework/Versions/Current/
/Postman.app/Contents/Frameworks/Mantle.framework/Versions/Current/
/Postman.app/Contents/Frameworks/ReactiveObjC.framework/Versions/Current/
/Postman.app/Contents/Frameworks/Squirrel.framework/Versions/Current/
/Postman 2.app/Contents/Frameworks/Electron Framework.framework/Versions/Current/
/Postman 2.app/Contents/Frameworks/Mantle.framework/Versions/Current/
/Postman 2.app/Contents/Frameworks/ReactiveObjC.framework/Versions/Current/
/Postman 2.app/Contents/Frameworks/Squirrel.framework/Versions/Current/
/Postman.app/Contents/Frameworks/Electron Framework.framework/Helpers/
/Postman 2.app/Contents/Frameworks/Electron Framework.framework/Helpers/
/Postman.app/Contents/Frameworks/Electron Framework.framework/Libraries/
/Postman 2.app/Contents/Frameworks/Electron Framework.framework/Libraries/
/Postman.app/Contents/Frameworks/Electron Framework.framework/Resources/
/Postman.app/Contents/Frameworks/Mantle.framework/Resources/
/Postman.app/Contents/Frameworks/ReactiveObjC.framework/Resources/
/Postman.app/Contents/Frameworks/Squirrel.framework/Resources/
/Postman 2.app/Contents/Frameworks/Electron Framework.framework/Resources/
/Postman 2.app/Contents/Frameworks/Mantle.framework/Resources/
/Postman 2.app/Contents/Frameworks/ReactiveObjC.framework/Resources/
/Postman 2.app/Contents/Frameworks/Squirrel.framework/Resources/
